.experienceBar {
  display: flex;
  align-items: center;
}

.experienceBar span {
  font-size: 1rem;

  border-radius: 5px;
  padding: 5px;
}

.experienceBar > div {
  flex: 1;
  height: 10px;
  border-radius: 3px;
  background: var(--gray-line);
  margin: 0 1.5rem;
  position: relative;
}

.experienceBar > div > div {
  height: 10px;
  border-radius: 3px;
  background: var(--exp);
}

span.currentExperience {
  position: absolute;
  top: 20px;

  border-top: 0.5px solid var(--exp);
  border-radius: 50%;
  padding: 5px;

  width: 65px;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
}

span.currentExperience img {
  width: 100%;
  height: 20px;
  margin-top: -17px;
}
