* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --background: #f3f4ed;
  --gray-line: #dcdde0;
  --text: #2b2e4a;
  --text-highlight: #b3b9ff;
  --title: #2e384d;
  --red: #e83f5b;
  --green: #4cd62b;
  --exp: #ef4f4f;
  --blue: #5965e0;
  --blue-dark: #4953b8;
  --blue-twitter: #2aa9e0;
}

/*Font-size Padrão do Browser = 16px*/
@media (max-width: 1080px) {
  html {
    font-size: 93.75%; /*Equivale a 15px*/
  }
}
@media (max-width: 720px) {
  html {
    font-size: 87.5%; /*Equivale a 14px*/
  }
}

body {
  background: var(--background);
  color: var(--text);
}

body,
input,
textarea,
button {
  font: 400 16px "Inter", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit; /*Herda a cor do container do link*/
  text-decoration: none;
}
